.form-iniciar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to bottom right, var(--bg-color-gradient1), var(--bg-color-gradient2));
}

.form-iniciar button{
    background-color: var(--bg-color-main);
    color: var(--text-color);
}
.buttones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* margin-top: 10px; */
}
.form-iniciar>form{
    width: 500px;
    min-height: 600px;
    padding: 50px 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px var(--bg-color-main);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    background-color: var(--bg-color-default);
}
/* icon de esconder y mostrar en iniciar sesión */
.form-iniciar label{
    width: 100%;
    margin-top: 5px;
}
.tipo-usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-iniciar .password-input-container>.bx {
    top: 55%;
}
.registro-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
.form-registro input,
.form-registro select,
.form-iniciar select {
  /* flex: 1; */
  min-width: 0; 
  font-size: 1rem;
  padding: 12px;
  margin: 12px 0;

  border: 2px solid var(--color-border-default);
  border-radius: 8px;
  background-color: var(--bg-color-default);
  color: var(--color-text-primary);
}

/* icon de registro */
.form-registro>.password-input-container>.bx {
    top: 40%;
}
