/* mis datos contenido */
.profile-container {
    display: flex;
    max-width: 1000px;
    margin: 40px auto;
    background: var(--bg-color-default);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-transform: capitalize;
    min-height: 80vh;
  }
  
  /* menu izquierda de mis datos */
  .profile-sidebar {
    width: 250px;
    background: var(--bg-color-default3);
    padding: 20px;
  }
  
  .profile-sidebar h2 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: var(--bg-color-main);
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s;
    border-radius: 5px;
    font-weight: normal;
  }
  
  .profile-sidebar h2:hover {
    background: var(--bg-color-main2);
    color: var(--bg-color-default);
  }
  
  /* estado seleccionado */
  .profile-sidebar .active-tab {
    background: var(--bg-color-main);
    color: var(--bg-color-default);
    border-radius: 5px;
  }
  /* boton de log out */
  .profile-sidebar .logout{
    color: var(--color-error-text);
  }
  /* boton de log out hover */
  .profile-sidebar .logout:hover {
    background: var(--color-error-text);
    color: var(--color-texto-footer3);
  }
  /* información derecha */
  .profile-content {
    flex: 1;
    padding: 30px;
    text-align: center;
    color: var(--bg-color-main);
  }
  
  /* parte información */
  .info-section {
    margin-bottom: 30px;
  }

  .info-section h1{
    margin-bottom: 2.5rem;
  }
  
  .info-section h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: var(--bg-color-main);
    border-bottom: 2px solid var(--color-linea);
    padding-bottom: 5px;
  }
  
  /* opción de información */
  .info-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid var(--color-texto-footer2);
    font-size: 1rem;
  }
  
  /* etiqueta de información */
  .info-label {
    font-weight: normal;
    color: var(--bg-color-main);
  }
  
  /* valor de información */
  .info-value {
    color: var(--bg-color-main6);
  }
  
  /*  */
  .info-highlight {
    color: var(--bg-color-main5);
    font-weight: bold;
  }
  
  /* button */
  .info-actions {
    margin-top: 20px;
  }
  
  .edit-link, .change-password {
    text-decoration: none;
    color: var(--color-texto-footer2);
    font-weight: lighter;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .edit-link:hover, .change-password:hover {
    text-decoration: underline;
    color: var(--color-texto-footer);
  }