.subir-libro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    min-height: 100vh;
    padding: 40px;
}
/* Estilos para label del formulario */
.subir-libro-form label,.subir-libro-form div{
    width: 500px;
}
/* img */
.subir-libro-form .preview-container {
    background: var(--bg-color-default);
    width: max-content;
    border-radius: 10px;
    border: 3px solid var(--bg-color-main2);
    padding: 10px;
    cursor: pointer;
}
.preview-container>img {
    width: 200px;
    height: 200px;
    opacity: 0.5;
}
.input-precio {
    position: relative;
}
.currency-symbol {
    position: absolute;
    top: 50%;
    right: 15px;
}
.subir-libro-form>button{
    background-color: var(--bg-color-main);
    color: var(--text-color);
}
.select-categoria select{
    padding: 12px;
    margin: 12px 0;
    border: 2px solid var(--bg-color-main2);
    border-radius: 8px;
    background-color: var(--bg-color-default);
    color: var(--color-text-secondary);
    font-size: 1em;
}
.select-categoria option{
    color: var(--color-text-secondary);
}