@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.anton-regular {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}


.dancing-script{
  font-family: "Lobster", serif;
  font-size: 100px;
  font-weight: 500;
  
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    color-scheme: light dark;
    background-color: rgba(255, 255, 255, 0.87);
    color: #535bf2;
    cursor: default;

    --bg-color-default:#fff;
    --bg-color-default2:#854e06;
    --bg-color-main:#535bf2;
    --bg-color-main2:#646cff;
    --height-header:40px;
  }
  
  h1,h2,h3,p{
    margin: 0;
  }
  
  *,#root,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header{
    width: 100%;
    height: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-default);
    padding:0 20px ;

    position: fixed;
    z-index: 100;
  }
  
  main{
    padding-top: var(--height-header);
  }
  .parte-titulo{
    min-height: calc(100vh - var(--height-header));
    background-image: url("../img/bg-main.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background: var(--bg-color-default2); */
  }
  .parte-titulo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(to right, #535bf2 30%, #646cff00); 
}

  .parte-primero{
    width: 50%;
    min-height: 100vh;
    padding: 0 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .titulo{
    color: var(--bg-color-default);
  }
  a {
    font-weight: 500;
    color: var(--bg-color-main2);
    text-decoration: inherit;
    cursor: pointer;
  }
  a:hover {
    color: var(--bg-color-main);
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  /* menú */
  .menu{
    display: flex;
    justify-content: space-around;
    width: 32%;
  }
  .menu-item{
    
  }
