@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* configurar los estilos de componentes defectos */
.anton-regular {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}


.dancing-script{
  font-family: "Lobster", serif;
  font-weight: 500;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    color-scheme: light dark;
    background-color: rgba(255, 255, 255, 0.87);
    color: #535bf2;
    cursor: default;

    --bg-color-default:#fff;
    --bg-color-default2:#854e06;
    --bg-color-main:#535bf2;
    --bg-color-main2:#646cff;
    --bg-color-main3:#000000c4;
    --bg-color-main4:#000000;
    --text-color:rgba(255,215,0);
    --text-color2:rgb(101, 98, 0);
    --text-color3:rgb(0, 255, 94);

    --height-header:60px;
  }
  
  h1,h2,h3,p{
    margin: 0;
  }
  
  *,#root,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  input {
    width: 95%;
    padding: 12px;
    margin: 12px 0;
    border: 2px solid var(--bg-color-main2);
    border-radius: 8px;
    background-color: var(--bg-color-default);
    color: var(--text-color2);
    font-size: 1em;
}

input:focus {
    border-color: var(--bg-color-main);
    outline: none;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  min-width: 150px;
  
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

  header{
    width: 100%;
    height: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-default);
    padding:0 20px ;

    position: fixed;
    z-index: 100;
  }
  
  main{
    padding-top: var(--height-header);
    min-height: calc(100vh - var(--height-header));
  }
  /* página home */
  .tunk-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .parte-titulo{
    background-image: url("../img/bg-main.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 30px;
  }
  .parte-titulo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(to right, #535bf2 30%, #646cff00); 
}

  .parte-primero{
    width: 50%;
    min-height: 100vh;
    padding: 0 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .titulo{
    color: var(--bg-color-default);
    text-shadow: 5px 5px 2px var(--text-color2);
  }
  a {
    font-weight: 500;
    color: var(--bg-color-main2);
    text-decoration: inherit;
    cursor: pointer;
  }
  a:hover {
    color: var(--bg-color-main);
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--bg-color-default);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  /* menú */
  .menu{
    display: flex;
    justify-content: space-around;
    width: 32%;
  }
  /* parte top ventas */
  .parte-top-ventas{
    width: 100%;
    height: calc(100vh - var(--height-header));
    position: relative;
    color: var(--bg-color-default);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    background: var(--bg-color-main4);
  }
  /* título top ventas */
.titulo-top-ventas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background: var(--bg-color-main3);
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  text-shadow:5px 5px 2px var(--text-color2)
}
.titulo-top-ventas>h1{
  font-size: 100px;
}
.titulo-top-ventas>h2{
  width: 50%;
  font-size: 50px;
}
/* libros de la página principal */
.img-libros{
  width: 300px;
  height: 400px;
}