.mis-libros-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .libro-item {

    width: 300px;
    border-radius: 12px;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    background: var(--bg-color-default);

    perspective: 800px;
  }
  

  
  .libro-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;

    transition: 0.4s ease-in-out;

  }
  .libro-item:hover img {
    transform: rotateY(10deg);
    box-shadow: -10px 0px 5px 1px var( --color-texto-footer2);
  }
  
  .libro-item h2 {
    font-size: 1.2rem;
    color: var(--color-text-primary);
    margin: 10px 0 5px;
    text-transform: capitalize;
  }
  .libro-item h3{
    color: var(--color-texto-footer);
    font-weight: lighter;
  }
  .libro-item p {
    font-size: 2rem;
    color: var(--color-error-text);
  }